@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  margin: 2% 5%;
  min-height: 75vh;
}

.container h2 {
  margin-bottom: 20px;
}
.container h3 {
  margin-bottom: 15px;
}

.header {
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
    rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto 5%;
  padding: 5px;
}
.navigation-menu {
  display: flex;
  align-items: center;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.nav-items > ul > a {
  text-decoration: none;
  color: rgb(2, 2, 58);
}

.nav-items > ul > li {
  padding: 10px;
}
.nav-items > ul > a > i {
  font-size: 1.75rem;
}

.logo {
  width: 75px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 15px;
  gap: 0.5rem;
}

.search-container > input {
  font-size: 1rem;
  padding: 6px 10px;
  border: 0.5px solid orangered;
  outline: none;
  border-radius: 5px;
}
.search-container > button {
  font-size: 1rem;
  padding: 6px 10px;
  border: none;
  outline: none;
  color: white;
  background-color: orangered;
  cursor: pointer;
  border-radius: 5px;
}

.card {
  width: 240px;
  height: 255px;
  border: 1px solid rgba(227, 227, 227, 0.489);
  padding: 10px;
  margin: 10px;
  font-size: 0.75rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.card:hover {
  border-color: rgb(232, 232, 232);
  box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;

  transition: all 0.3s ease-in;
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.resName {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(44, 44, 44);
  margin-bottom: 6px;
}

.res-name p {
  color: #a8a5a5;
  height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.res-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratings {
  color: white;
  padding: 3px 5px;
  font-size: 0.7rem;
}
.green {
  background-color: green;
}
.yellow {
  background-color: #e68c47;
}
.red {
  background-color: red;
}
.ratings i {
  margin-right: 5px;
}
.restaurant-lists {
  flex-wrap: wrap;
  display: flex;
  margin: auto 2%;
  justify-content: center;
}

.restaurant-lists a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}

.shimmer-cards {
  width: 240px;
  height: 250px;
  background-color: lightgrey;
  margin: 20px;
}

.shimmer-block {
  height: 150px;
  background-color: lightgrey;
  margin: 5% 6%;
  border-radius: 10px;
}

.shimmer-lines {
  height: 30px;
  background-color: lightgrey;
  margin: 5% 6%;
  border-radius: 10px;
}

.restaurant-details {
  margin: 5% 10%;
}

.restaurant-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1.25px solid rgb(129, 129, 129);
  padding-bottom: 50px;
}

.restaurant-name h2 {
  font-size: 1.5rem;
  color: rgb(2, 2, 58);
}

.restaurant-name p {
  font-size: 0.9rem;
  color: rgb(129, 129, 129);
}

.restaurant-basics {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.restaurant-basics p {
  border-top: 1px solid rgb(129, 129, 129);
  font-size: 0.8rem;
  color: rgb(129, 129, 129);
}

.restaurant-menu p {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 0.1px dotted rgb(129, 129, 129);
  margin-bottom: 20px;
}
.item-details {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 80%;
}
.item-details h4 {
  font-weight: 500;
}

.item-details p {
  font-size: 1rem;
  color: rgb(44, 44, 44);
  margin-bottom: 5px;
}

.item-extras {
  margin-top: 10px;
}
.item-desc {
  font-size: 14px;
  width: 80%;
  color: #a7a2a2;
  font-weight: 300;
}

.bestseller {
  color: #ee9c00;
  font-weight: 600;
  font-size: 13px;
}
.nonveg {
  color: red;
  margin-right: 6px;
  font-size: 13px;
}
.veg {
  color: green;
  margin-right: 6px;
  font-size: 13px;
}
.item-img {
  width: 150px;
}
.item-img img {
  width: 100%;
  border-radius: 10px;
}

.footer {
  background-color: black;
  height: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}

.footer > ul {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: wheat;
  list-style: none;
}

.footer > ul > a {
  text-decoration: none;
  color: white;
}

.error-button {
  background-color: black;
  margin: 10px 0;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.error-button a {
  text-decoration: none;
  color: white;
}
